* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    background-color: #012536;
    font-family: Arial, Helvetica, sans-serif;
    color: linen;
}

h1{
    color: orangered;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2{
    color: orangered;
    padding: 15px;
}

a{
    text-decoration: none;
}

.navbar{
    overflow: hidden;
    display: flex;
}

.navbar a{
  float: right;
  color: linen;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
    background-color: linen;
    color: orangered;
}
.navbar a.active {
    background-color: orangered;
    color: #012536;
}

.bookshelf{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-top: 20px;
    width: 100%;
}

.body-info{
    margin: 25px 50px;
}
.column{
  float: left;
  width: 33.33%;
  padding: 15px;
}
.column a{
    color: linen;
    text-decoration: underline;

}
.column a:hover{
    background-color: orangered;
    color: #012536;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    font-size: 18px;
}
.top-five{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.top-five img{
  width: 100%;
  max-width: 900px;
  height: 390px;
  object-fit: cover;
  border-radius: 2px 20px 20px 2px;
}
/* .top-five::after{
  content: "";
  width: 350px;
} */

.honerable-container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: center;
    gap: 50px;

}

.honerable-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 2px 20px 20px 2px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px;
}

legend{
    font-size: 1.5em;
    margin-bottom: 10px;
    padding: 0 10px;
}
fieldset {
    border: solid linen;
    padding: 25px;
}

input {
    width: 100%;
    padding: 4px;
    margin: 5px 0;
    border: 2px solid gray;
    border-radius: 4px;
}
textarea{
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid gray;
  border-radius: 4px;
  resize: none;
}

.checkbox-options {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: orangered;
    color: linen;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(145, 43, 6);
}

@media (max-width: 768px) {
    .honerable-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 20px;
    }
}

@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}
